<form class="ui form {{loading}}">
    <div class="field">
        {{input value=user.username placeholder="Username" type="text" autofocus="autofocus"}}
    </div>
    <div class="field">
        {{input value=user.password placeholder="Password" type="password"}}
    </div>
    {{#if isRegistering}}
    <div class="field">
        {{input value=user.email placeholder="Email" type="text"}}
    </div>
    {{/if}}

    {{#if isRegistering}}
    <div class="ui compact inverted green button" {{action 'register'}}>
        Register
    </div>
    <div class="ui compact inverted red button" {{action 'cancelCreateAccount'}}>
        Cancel
    </div>
    {{else}}
    <div class="ui compact inverted green button" {{action 'login'}}>
        Login
    </div>
    <div class="ui compact inverted blue button" {{action 'createAccount'}}>
        Create Account
    </div>
    {{/if}}
</form>
