{{document-title title=appTitle}}
<form class="ui form">
    <div class="field">
        {{input value=data.username placeholder="Username" type="text"}}
    </div>
    <div class="field">
        {{input value=data.password placeholder="Password" type="password"}}
    </div>
    {{#if isRegistering}}
    <div class="field">
        {{input value=data.email placeholder="Email" type="text"}}
    </div>
    {{/if}}

    {{#if isRegistering}}
    <div class="ui compact inverted green button {{loading}}" {{action 'register'}}>
        Register
    </div>
    <div class="ui compact inverted red button {{loading}}" {{action 'cancelCreateAccount'}}>
        Cancel
    </div>
    {{else}}
    <div class="ui compact inverted green button {{loading}}" {{action 'login'}}>
        Login
    </div>
    <div class="ui compact inverted blue button {{loading}}" {{action 'createAccount'}}>
        Create Account
    </div>
    {{/if}}
</form>
