<table class="ui table">
	<thead>
		<th>Location</th>
		<th>Comment</th>
		<th>Picture</th>
		<th></th>
	</thead>
	<tbody>
		{{#each point in myPoints itemController='point-me.point'}}
			{{#if point.model.imgurLink}}
			<tr>
				<td>{{point.model.location}}</td>
				<td>{{point.model.userComment}}</td>
				<td>
					<a {{bind-attr href=point.model.imgurLink}}>
						<img {{bind-attr src="point.model.imgurLink"}} style="width: 100px; height: 100px;" />
					</a>
				</td>
				<td>
					<i class="link remove icon" {{action 'deletePoint'}}></i>
				</td>
			</tr>
			{{/if}}
		{{/each}}
	</tbody>
</table>