{{document-title title=appName}} {{document-title title=appTitle}}

<div class="ui centered grid" style="width: 100%;">
	<div class="eight wide column">
		<form class="ui form">
			<div class="field">
				<h2 class="ui dark blue header">
					<i class="ui dark blue circular marker icon"></i>
					{{appName}}
				</h2>
			</div>

			<div class="field">
				<div class="ui input">
					{{input value=friendsEmail placeholder="Friend's Email" type="text"}}
				</div>
			</div>

			<div class="field">
				<div class="ui input">
					{{input value=myEmail placeholder="My Email" type="text"}}
				</div>
			</div>

			<div class="field">
				<div class="ui input">
					{{input value=address placeholder="Where Am I?" type="text"}}
				</div>
			</div>

			<div class="field">
				{{textarea value=comment style='resize: none;' placeholder="Talk about it!" type="text"}}
			</div>

			<div class="field">
				{{input type="file" id="uploadAnImage" isVisible=false value=image accept="image/*"}}
				{{#if image}}
			        <div class="ui compact inverted green button" {{action 'clearImage'}}>
			            Clear Image
			        </div>
		        {{else}}
			        <div class="ui compact inverted blue button" {{action 'selectImage'}}>
			            Select Image
			        </div>
		        {{/if}}
		        <div class="ui compact inverted blue button" {{action 'uploadImage'}}>
		            Upload Image
		        </div>
			</div>

			<div class="ui compact inverted blue button" {{action 'submitPointMe'}}>
				Point!
			</div>
		</form>
	</div>
</div>