{{document-title title=appName}} {{document-title title=appTitle}}

<div class="ui centered grid" style="width: 800px;">
	<div class="eight wide column">
		<form class="ui form">
			<div class="field">
				<h2 class="ui header"><i class="marker icon"></i>{{appName}}</h2>
			</div>

			<div class="field">
				<div class="ui input">
					{{input value=data.friendsEmail placeholder="Friend's Email" type="text"}}
				</div>
			</div>

			<div class="field">
				<div class="ui input">
					{{input value=data.myEmail placeholder="My Email" type="text"}}
				</div>
			</div>

			<div class="field">
				<div class="ui input">
					{{input value=data.address placeholder="Where Am I?" type="text"}}
				</div>
			</div>

			<div class="field">
				{{textarea value=data.comment style=noResize placeholder="Talk about it!" type="text"}}
			</div>

			<div class="field">
				<span class="hidden">
					{{input type="file" id="uploadAnImage" isVisible=false value=data.image accept="image/*"}}
				</span>
		        <div class="ui compact inverted blue button" {{bind-attr class=data.image.files.length:disabled}} onclick="$('#uploadAnImage').click();">
		            Select Image
		        </div>
		        <div class="ui compact inverted blue button" {{action 'uploadImage'}}>
		            Upload Image
		        </div>
			</div>
		</form>
	</div>
</div>