<section id="point-me-app">
    {{document-title title=appName}}
    <section id="sidebar" class="ui green left vertical sidebar menu">
        <div class="item">
            <h2 class="ui dark blue header">
                <i class="ui dark blue circular marker icon"></i>
                {{appName}}
            </h2>
        </div>
        {{#if session.isAuthenticated}}
            <div class="ui header item">
                {{session.username}}
            </div>
            <div class="link item" {{action 'share'}}>
                Share
            </div>

            <div class="link item" {{action 'myPoints'}}>
                See My Points
            </div>

            <div class="link item" {{action 'logout'}}>
                Logout
            </div>
        {{/if}}
    </section>
    <section id="content" class="pushable">
        <div class="ui blue launch right attached fixed button" {{action 'toggleSidebar'}}>
            <i class="content icon"></i>
            <span class="text">Menu</span>
        </div>
        <div id="contentGrid" class="ui centered stackable grid" style="width: 100%;">
            <div class="row"></div>
            <div class="row">
                <div class="eight wide column">
                    <section id="main">
                        {{outlet}}
                    </section>
                </div>
            </div>
        </div>
    </section>
</section>